[submodule "guests-api"]
	path = guests-api
	url = git@github.com:ymedaghri/fake-guests-api.git
[submodule "events-api"]
	path = events-api
	url = git@github.com:ymedaghri/fake-events-api.git
[submodule "marketplace-app"]
	path = marketplace-app
	url = git@github.com:ymedaghri/fake-marketplace-app.git
[submodule "users-api"]
	path = users-api
	url = git@github.com:ymedaghri/fake-users-api.git
